header {
  box-sizing: border-box;
}

.header__banner {
  background-color: #fffcc9;
  padding-right: 3rem;
  padding-top: auto;
  color: #2b2b2b;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: baseline;
}

.header__title {
  background-color: #ff760d;
  padding-top: auto;
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
